@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sohne;
  src: url("./assets/fonts/89e193b98453504c456698844de4c52b.otf");
}

body {
  font-family: sohne;
}

.logo-font {
  font-family: "Poppins", sans-serif;
}

.icon-wrapper-right {
  background: linear-gradient(-90deg, #fff 78%, transparent);
}

.icon-wrapper-left {
  background: linear-gradient(90deg, #fff 78%, transparent);
}

.shadow-app {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
